
body {
    font-family: cursive;
    font-size: 16px;
    background-image: url("DemoWeb.jpg") ;  
    color: #696969;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: 'Comic Sans MS';
    border-bottom: 3px solid rgba(5, 153, 251, 0.78);
    color: #00f3fb;
    font-size: 30px;
}
table {
    width:100%;
    font-family: 'Cambria Math';
    color: rgba(1, 249, 166, 0.74);
    border-color: rgba(5, 153, 251, 0.78);
    padding: 10px;
}

table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

th {
    text-align: left; 
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 16px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: black;
}
button {
    background-color: rgba(5, 153, 251, 0.78);
}

a {
 color: #000000;
 font-size:20px;
 text-shadow: none;
 font-family: Consolas;
}
nav {
box-sizing: border-box;      
tab-size: 2;
}
li {
border: 5px;     
}
#Bomber {
    color: rgba(1, 249, 166, 0.74);
    font-size: 45px;
    border-width: medium;
    border-bottom: 7px solid rgba(1, 249, 166, 0.74);
}
 #ur2 {
font-size: 50px;
    font: 'Arial Unicode MS',;
color: #0ff;
text-shadow: 5px 5px 5px #000;
background-color: black
}


#u3 {
color: #f00;
}
